﻿@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>Gilberto Fonte</h3>
<address>
    Southampton<br />
    United Kingdom<br />
    <abbr title="Phone">P:</abbr>
    07460 893616
</address>
<address>
    <strong>Email:</strong> <a href="mailto:gjfonte@gmail.com">gjfonte@gmail.com</a><br />
    <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/gilbertofonte">https://www.linkedin.com/in/gilbertofonte</a>
</address>
