﻿@model IEnumerable<FleetManagement.Core.Models.JobSheet>
@{
    ViewData["Title"] = "All Jobs";
}


@if(Model.ToList().Count == 0){
    <div class="alert alert-info" role="alert">
        Please submit a new job @Html.ActionLink("here", "Index", "Home")
    </div>
} else {

    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Make</th>
                <th>Model</th>
                <th>Cost</th>
                <th>Result</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.JobDate.ToString("yyyy-MM-dd hh:mm")
                </td>
                <td>
                    @item.Vehicle.Make
                </td>
                <td>
                    @item.Vehicle.Model
                </td>
                <td>
                    @item.TotalCost
                </td>
                <td>
                    @item.JobDecisionDetails.JobDecision
                </td>
                <td>
                    @Html.ActionLink("Details", "JobResult", "Home", new { id = item.JobSheeID }, null)
                </td>
            </tr>
        }
        </tbody>
    </table>

}
   



