﻿@{
    ViewData["Title"] = "Home Page";
}


<button id="btnGetJob" onclick="jobService.getJob()" class="btn btn-default">Generate Job</button>

<div id="wrapJobDetails" style="display: none">
    <div class="row">
        <div class="col-md-2">
            Car Make
        </div>
        <div class="col-md-8">
            <label id="lblCarMake">1</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            Car Model
        </div>
        <div class="col-md-8">
            <label id="lblCarModel">2</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            Total Items
        </div>
        <div class="col-md-8">
            <label id="lblTotalItems">3</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            Total Cost
        </div>
        <div class="col-md-8">
            <label id="lblTotalCost">4</label>
        </div>
    </div>

    <button id="btnSubmitJob" onclick="jobService.submitJob()" class="btn btn-primary">Submit Job</button>

</div>

@section Scripts{
    <script src="/js/jobsheet.js" type="text/javascript"></script>
}
