﻿@model FleetManagement.Core.Models.JobSheet
@using FleetManagement.Core.Enumerations
@{
    ViewData["Title"] = "Job Result";
    var panelCss = "";

    switch(Model.JobDecisionDetails.JobDecision)
    {
        case JobDecision.Approved:
            panelCss = "panel-success";
            break;
        case JobDecision.Refered:
            panelCss = "panel-warning";
            break;
        case JobDecision.Declined:
            panelCss = "panel-danger";
            break;
        default:
            panelCss = "panel-default";
            break;
    }
}

<div class="panel @panelCss">
  <div class="panel-heading">
    <h3 class="panel-title">Job sheet</h3>
  </div>
  <div class="panel-body">
    <div class="row">
        <div class="col-md-2">
            Date:
        </div>
        <div class="col-md-8">
            @Model.JobDate.ToString("yyyy-MM-dd hh:mm")
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            Car Make:
        </div>
        <div class="col-md-8">
            @Model.Vehicle.Make
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            Car Model:
        </div>
        <div class="col-md-8">
            @Model.Vehicle.Model
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Time (minutes)</th>
                <th>Cost</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.WorkItems)
        {
            <tr>
                <td>
                    @item.Item
                </td>
                <td>
                    @item.TimeInMinutes
                </td>
                <td>
                    @item.Cost
                </td>
            </tr>
        }
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-2">
            <strong>Total:</strong>
        </div>
        <div class="col-md-8">
            <strong>@Model.TotalCost</strong>
        </div>
    </div>
  </div>
</div>

<div class="panel @panelCss">
  <div class="panel-heading">
    <h3 class="panel-title">Decision</h3>
  </div>
  <div class="panel-body">
    
    <div class="row">
        <div class="col-xs-12">
            @Model.JobDecisionDetails.JobDecision
        </div>
        <div class="col-xs-12">
            @Model.JobDecisionDetails.Description
        </div>
    </div>
  </div>
</div>

@Html.ActionLink("View all jobs", "AllJobs", "Home")


